// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// Polices du site
$font-family-title: 'Shrikhand', cursive, sans-serif !default;
$font-family-text: 'Roboto', sans-serif !default;

$font-style-italic: italic;


// Effets graphiques et animations
$color-primary: #9356DC !default;
$color-secondary: #FF79DA !default;
$color-tertiary: #99E2D0 !default;
$font-color-badge: #008766 !default;

// Couleurs de background du site
/// white
$background-color: #FFFFFF !default;

/// Light grey
$section-color: #F6F6F6 !default;

/// Medium grey
$header-color: #EAEAEA !default;

/// Dark grey
$footer-color: #353535 !default;


// Main container's maximum width
/// @type Length
$max-width: 1440px !default;


// Breakpoints
$breakpoints: (
  'medium': 768px,
  'large': 1024px,
) !default;