// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer-section {
    background-color: $footer-color;
    padding: 22px 25px;
}

.font-title {
    margin-top: 0;
    margin-bottom: 16px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

.footer-list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
    
    .footer-content a {
        color: #ffffff;
    }
}

.footer-content i {
    margin-right: 11px;
}

.partner i {
    margin-right: 5px;
}

.footer-list-content a {
    color: #ffffff;
}

/****** RESPONSIVE *******/

@include respond-to('large') {
    .footer-section {
        display: flex;
        align-items: end;
        height: 114px;
        flex-direction: row-reverse;

        .footer-list {
            flex-direction: row;
            margin-bottom: 15px;
        }
    }

    .font-title {
        margin-bottom: 15px;
    }

    .footer-title {
        margin-right: 25px;
        margin-left: 75px;
    }

    .footer-content {
        margin-left: 12px;
    }

    .footer-list-content {
        margin-left: 12px;
    }

    .mentions-legales {
        margin-left: 30px;
    }
}