// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header-container {
    height: 113px;
}

.logo {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
    width: 197px;
    height: 36px;
    }
}

.location-input {
    height: 50px;
    background-color: $header-color;
    display: flex;
    align-items: center;
    justify-content: center;

    input[type="text"] {
        background-color: $header-color;
        border: none;
        font-size: 16px;
        font-weight: 500;
    }
}

