// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header-container {
    height: 63px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: relative;
    text-align: center;

    i {
        position: absolute;
        left: 5%;
        top: 30%;
        font-size: 1.5rem;
        color: black;
    }
}

.logo img {
    width: 43.2%;
}
