// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.hero-btn {
    border-radius: 25px;
    padding: 15px 20px;
    background: linear-gradient(to bottom, $color-primary, $color-secondary);
    color: $background-color;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 57px;
}