// -----------------------------------------------------------------------------
// This file contains all styles related to the heart animation component.
// -----------------------------------------------------------------------------

// Heart styles & animations 
.heart-icon {
    cursor: pointer;

    i {
        font-size: 24px;
        color: white;
        -webkit-text-stroke: 1px black;
        background: linear-gradient(to top, #ff79da, #9356dc);
        -webkit-background-clip: text;
        background-clip: text;
        transition: all 750ms ease-in-out;
        
        @media (min-width: map-get($breakpoints, 'large')) {
            &:hover {
                color: transparent;
                -webkit-text-stroke: 1px #9356dc;
            }  
        }
    }
}

// Checked heart
.heart-checkbox:checked + .heart-icon i {
    color: transparent;
    background: linear-gradient(to top, #ff79da, #9356dc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px #9356dc;
}

