// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}