// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
}