//---------------------------------------------------------
// Basic typography style for copy text
//---------------------------------------------------------

// Typographie de base
body {
    font-family: $font-family-text;
}

.font-title {
    font-family: $font-family-title;
    font-style: $font-style-italic;
}


