html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
}

.main-container,
.menu-container {
  width: 100%;
}
@media (min-width: 1024px) {
  .main-container,
  .menu-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
}

input::placeholder {
  color: black;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.heart-checkbox {
  display: none;
}

* {
  font-family: "Roboto", sans-serif;
}

.font-title {
  font-family: "Shrikhand", cursive, sans-serif;
  font-style: italic;
}

.header-container {
  height: 63px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: relative;
  text-align: center;
}
@media (min-width: 1024px) {
  .header-container {
    height: 96px;
    align-items: center;
    padding: 0;
  }
}
.header-container i {
  position: absolute;
  left: 5%;
  top: 35%;
  font-size: 22px;
  color: black;
}
@media (min-width: 1024px) {
  .header-container i {
    left: 2%;
    font-size: 24px;
  }
}

.logo img {
  width: 43.5%;
}
@media (min-width: 1024px) {
  .logo img {
    width: 51%;
  }
}

.footer-section {
  background-color: #353535;
  padding: 22px 25px;
}
@media (min-width: 1024px) {
  .footer-section {
    display: flex;
    align-items: end;
    height: 114px;
    flex-direction: row-reverse;
    padding: 30px 25px;
  }
}

.font-title {
  margin-top: 0;
  margin-bottom: 16px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .font-title {
    margin-right: 40px;
    margin-left: 85px;
    margin-bottom: 0;
  }
}

.footer-list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .footer-list {
    flex-direction: row;
    gap: 15px;
  }
}
.footer-list a {
  color: #ffffff;
  font-weight: 500;
}

.footer-content i {
  margin-right: 11px;
}

.partner i {
  margin-right: 5px;
}

@media (min-width: 1024px) {
  .mentions-legales {
    margin-left: 30px;
  }
}
.hero-btn {
  border-radius: 25px;
  padding: 15px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  text-align: center;
  height: 50px;
}
.hero-btn:hover {
  background: linear-gradient(#ff8de2, #a67ee5);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.45);
  transition: 300ms ease-out, box-shadow 300ms ease-out;
}

.card-menu .menu__price {
  transition: transform 350ms ease-in-out;
}

.card-menu:hover .menu__price {
  transform: translateX(-60px);
}

.menu-check {
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  overflow: hidden;
  transition: all 350ms ease-in-out;
}

.card-menu:hover .menu-check {
  width: 60px;
  border-radius: 0 15px 15px 0;
}

.card-menu:hover .menu__title {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.menu-check i {
  color: #99E2D0;
  background-color: white;
  border-radius: 100%;
  font-size: 15px;
  padding: 5px;
}

.heart-icon {
  cursor: pointer;
}
.heart-icon i {
  font-size: 24px;
  color: white;
  -webkit-text-stroke: 1px black;
}
@media (min-width: 1024px) {
  .heart-icon i:hover {
    background: linear-gradient(to top, #ff79da, #9356dc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0px #9356DC;
    transform: scale(1.1);
    transition: all 800ms ease-in-out;
  }
}

.heart-icon::after + i:hover {
  background: linear-gradient(to top, #ff79da, #9356dc);
}

.heart-checkbox:checked + .heart-icon i {
  color: transparent;
  background: linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0px #9356dc;
  transform: scale(1.1);
}

.main-container {
  opacity: 0;
  animation: fade-in 500ms cubic-bezier(0.19, 1, 0.22, 1) 1000ms forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.homepage-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #99E2D0;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  animation: fade-out-loader 500ms cubic-bezier(0.19, 1, 0.22, 1) 1000ms forwards;
}

@keyframes fade-out-loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356DC;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1000ms linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.restaurant-menu article {
  opacity: 0;
  animation: fade-in-bottom 1000ms ease-in-out forwards;
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-location {
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  position: relative;
}
@media (min-width: 1024px) {
  .hero-location {
    box-shadow: none;
  }
}
.hero-location i {
  margin-right: -25px;
  margin-left: 45px;
  z-index: 2;
}
.hero-location input {
  background-color: #EAEAEA;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.hero-location::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.08));
}
@media (min-width: 1024px) {
  .hero-location::before {
    display: none;
  }
}

.hero-header {
  background-color: #F6F6F6;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 57px;
}
.hero-text h1 {
  width: 275px;
  height: 68px;
  text-align: center;
  font-size: 24px;
  margin-top: 39.5px;
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .hero-text h1 {
    font-size: 40px;
    width: 100%;
  }
}
.hero-text h2 {
  width: 315px;
  height: 46px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 27px;
}
@media (min-width: 1024px) {
  .hero-text h2 {
    width: 100%;
  }
}

.functioning-section {
  padding: 0 20px 68px 20px;
}
@media (min-width: 1024px) {
  .functioning-section {
    display: flex;
    padding: 0 180px 50px 180px;
  }
}
.functioning-section h3 {
  margin-top: 48px;
  margin-bottom: 26px;
}
@media (min-width: 1024px) {
  .functioning-section h3 {
    margin-top: 50px;
    margin-bottom: 25px;
  }
}

.tutoriel {
  width: 100%;
}
.tutoriel ol {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 25px;
}
@media (min-width: 1024px) {
  .tutoriel ol {
    display: flex;
    flex-direction: row;
    gap: 36px;
  }
}
.tutoriel ol i {
  color: #7E7E7E;
  margin-right: 23px;
  margin-left: 23px;
}
.tutoriel ol li {
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  padding: 29px 0 28px 0;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .tutoriel ol li {
    width: 322.49px;
  }
}

.number {
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  position: relative;
  left: -10px;
}

#store i {
  color: #9356DC;
}

.restaurants-section {
  padding: 0 17px 48px 17px;
  background-color: #F6F6F6;
}
@media (min-width: 1024px) {
  .restaurants-section {
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 30px;
  }
}
.restaurants-section h3 {
  padding-top: 48px;
  margin-top: 0;
  margin-bottom: 28px;
}
@media (min-width: 1024px) {
  .restaurants-section h3 {
    padding-top: 30px;
  }
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .restaurants-cards {
    width: 100%;
  }
  .restaurants-cards .first-raw,
  .restaurants-cards .second-raw {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  .restaurants-cards .first-raw {
    margin-bottom: 50px;
  }
}

.card {
  width: 100%;
  position: relative;
  margin-bottom: 18px;
}
@media (min-width: 1024px) {
  .card {
    margin: 0;
  }
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-sticker {
  color: #008766;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  top: 13px;
  right: 12px;
  z-index: 2;
  background-color: #99E2D0;
  padding: 7px 9.6px 6px 9px;
  border-radius: 2px;
}

.card-txt {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -4px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.card-txt .card-title {
  margin-top: 15px;
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .card-txt .card-title {
    margin-top: 16px;
  }
}
.card-txt .card-subtitle {
  margin-top: 5px;
  margin-bottom: 12px;
}

.card-content {
  margin-left: 13px;
  color: black;
}
@media (min-width: 1024px) {
  .card-content {
    margin-left: 18.74px;
  }
}

.heart-home {
  margin-bottom: 10px;
  margin-right: 25px;
}

.hero-menu img {
  height: 275px;
  width: 100%;
}
@media (min-width: 1024px) {
  .hero-menu img {
    height: 394px;
    object-fit: cover;
  }
}

.restaurant-menu {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -50px;
  padding-bottom: 28px;
}
@media (min-width: 1024px) {
  .restaurant-menu {
    width: 73.27%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    margin-top: -30px;
    padding-bottom: 0;
  }
}
.restaurant-menu article {
  padding-left: 13px;
  padding-right: 13px;
}
@media (min-width: 1024px) {
  .restaurant-menu article {
    width: 62.5%;
    margin: 0 auto;
    margin-bottom: 28px;
  }
}

.restaurant-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 17px 0 17px;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .restaurant-title {
    justify-content: center;
    gap: 24px;
    padding: 51px 0 0 0;
  }
}
.restaurant-title .heart-icon {
  margin-right: 24px;
}

.main-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.article-title {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 18%;
  padding-bottom: 6px;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .article-title {
    width: 10%;
    margin-top: 0;
  }
}

.card-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 14px 15px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
}
.card-menu h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-menu p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-menu .menu__price {
  color: #353535;
  display: flex;
  align-items: flex-end;
}

.btn-menu {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  background-color: #F6F6F6;
}
@media (min-width: 1024px) {
  .btn-menu {
    width: 73.27%;
    margin: 0 auto;
  }
}
.btn-menu .hero-btn {
  width: 186px;
}

/*# sourceMappingURL=style.css.map */
