// -----------------------------------------------------------------------------
// This file contains styles that are specific to the menu pages.
// -----------------------------------------------------------------------------

.hero-menu img {
    height: 275px;
    width: 100%;
}

.restaurant-menu {
    background-color: $section-color;
    border-radius: 40px 40px 0 0;
    position: relative;
    margin-top: -50px;
    padding-bottom: 28px;
    
    article {
        padding-left: 13px;
        padding-right: 13px;
    }
}

.restaurant-title {
    display: flex;
    justify-content: space-between;
    padding: 32px 17px 0 17px;
    margin-bottom: 40px;
}

.menu-btn {
    border: none;
    background-color: $section-color;
    font-size: 1.5rem;
}

.main-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $font-family-title;
    font-size: 28px;
    font-weight: 400;
}

.article-title {
    margin-top: 40px;
    margin-bottom: 12px;
    font-weight: 300;
    border-bottom: 3px solid $color-tertiary;
    width: 18%;
    padding-bottom: 6px;
    text-transform: uppercase;
}

.card-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 14px 15px;
    background-color: $background-color;
    border-radius: 15px;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A;
    
    h3 {
        margin: 0;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 500;
    }
    p {
        margin: 0;
        font-size: 15px;
        font-weight: 300;
    }
    .menu__price {
        color: $footer-color;
        display: flex;
        align-items: flex-end;
    }
}

.btn-menu {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    background-color: $section-color;

    .hero-btn {
        width: 186px;
    }
}

//RESPONSIVE DESKTOP

@include respond-to('large') {
    .restaurant-menu {
       width: 73.27%;
       display: flex;
       flex-direction: column;
       margin: 0 auto;
       position: relative;
       margin-top: -50px;

       article {
        width: 62.5%;
        margin: 0 auto;
       }
    }

    .hero-menu img{
        height: 394px;
        object-fit: cover;
    }

    .restaurant-title {
       justify-content: center;
       gap: 24px;
    }
}

.btn-menu {
    width: 73.27%;
    margin: 0 auto;
}