// -----------------------------------------------------------------------------
// This file contains styles that are specific to the menu pages.
// -----------------------------------------------------------------------------

.hero-menu img {
    height: 275px;
    width: 100%;
    // Responsive desktop
    @media (min-width: map-get($breakpoints, 'large')) {   
        height: 394px;
        object-fit: cover; 
    }
}

.restaurant-menu {
    background-color: $section-color;
    border-radius: 40px 40px 0 0;
    position: relative;
    margin-top: -50px;
    padding-bottom: 28px;
    // Responsive desktop
    @media (min-width: map-get($breakpoints, 'large')) {   
        width: 73.27%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: relative;
        margin-top: -30px;
        padding-bottom: 0;

    }
        & article {
            padding-left: 13px;
            padding-right: 13px;
            // Responsive desktop
            @media (min-width: map-get($breakpoints, 'large')) {   
            width: 62.5%;
            margin: 0 auto;
            margin-bottom: 28px;
        }
    }
}

.restaurant-title {        
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 17px 0 17px;
    margin-bottom: 40px;
    // Responsive desktop
    @media (min-width: map-get($breakpoints, 'large')) {     
        justify-content: center;
        gap: 24px;
        padding: 51px 0 0 0;
    }

    & .heart-icon {
       margin-right: 24px; 
    }
}

.main-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $font-family-title;
    font-size: 28px;
    font-weight: 400;
}

.article-title {
    margin-top: 40px;
    margin-bottom: 12px;
    font-weight: 300;
    border-bottom: 3px solid $color-tertiary;
    width: 18%;
    padding-bottom: 6px;
    text-transform: uppercase;
    // Responsive desktop
    @media (min-width: map-get($breakpoints, 'large')) {        
            width: 10%;
            margin-top: 0;
    }
}

.card-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 14px 15px;
    background-color: $background-color;
    border-radius: 15px;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A;
    position: relative;

    h3 {
        margin: 0;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    p {
        margin: 0;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .menu__price {
        color: $footer-color;
        display: flex;
        align-items: flex-end;
    }
}

// Styles bouton bas de page
.btn-menu {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    background-color: $section-color;
    // Responsive desktop
    @media (min-width: map-get($breakpoints, 'large')) {      
        width: 73.27%;
        margin: 0 auto;
    }
    
    & .hero-btn {
        width: 186px;
    }
}

